@{
    ViewBag.Title = "Add balance";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="form-group">
                <label for="balance">Current BalanceAmount:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="balance" name="BalanceAmount" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">
                    Add
                </button>
            </div>

            <p>Geen account? @Html.ActionLink("Start here", "Register", "Account")</p>
        }
    </div>
</div>
