
@{
    ViewBag.Title = $"Add transaction for {ViewBag.PaymentName}";
}

<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddTransaction", "Action"))
        {
            <input type="hidden" class="form-control" id="paymentId" name="paymentId" aria-describedby="basic-addon3" value="@ViewBag.PaymentId">

            <div class="form-group">
                <label for="description">Description:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="description" name="description" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="form-group">
                <label for="amount">Amount:</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        }
    </div>
</div>

