body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

/*Make sure text color is white. This overrides bootstrap css.*/
.primary-content {
    color: #ffffff !important;
}

/*Make sure background color is #337ab7 (blue). This overrides bootstrap css.*/
.primary-background {
    background-color: #337ab7 !important;
}

/*Some padding to the right. This is used for glyphicons*/
.icon-content {
    margin-right: 10px;
}

/*Make sure color is green. This is used for telling if a payment or transaction is ingoing*/
.positive {
    color: green !important;
}

/*Make sure color is red. This is used for telling if a payment or transaction is outgoing*/
.negative {
    color: red !important;
}

/*
    Here CSS for the graph ###################
*/

/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
	margin: 0;
	padding: 0;
}

/*  Graph Container */
.graph-container {
	position: relative;
	width: 100%;
	height: 147px;
}

.graph-container > div {
	position: absolute;
	width: inherit;
	height: inherit;
}

/* Text Styles */
.tickLabel {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Center the loader */
#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top: 16px solid #428bca;
    border-bottom: 16px solid #428bca;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}