@using Library.Classes.Language
@{
    Language language = Session["Language"] as Language;
}

@if (Session["Exception"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@language.GetText(63)</strong> @Session["Exception"].ToString()
    </div>
}

@if (Session["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Succes!</strong> @Session["Message"].ToString()
    </div>
}

@{
    Session["Exception"] = null;
    Session["Message"] = null;
}


