body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

/*Make sure text color is white. This overrides bootstrap css.*/
.primary-content {
    color: #ffffff !important;
}

/*Make sure background color is #337ab7 (blue). This overrides bootstrap css.*/
.primary-background {
    background-color: #337ab7 !important;
}

/*Some padding to the right. This is used for glyphicons*/
.icon-content {
    margin-right: 10px;
}

/*Make sure color is green. This is used for telling if a payment or transaction is ingoing*/
.positive {
    color: green !important;
}

/*Make sure color is red. This is used for telling if a payment or transaction is outgoing*/
.negative {
    color: red !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Here CSS for the graph ###################
*/

/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
	margin: 0;
	padding: 0;
}

/*  Graph Container */
.graph-container {
	position: relative;
	width: 250px;
	height: 116px;
	padding: 20px;
}

.graph-container > div {
	position: absolute;
	width: inherit;
	height: inherit;
	top: 10px;
	left: 25px;
}

/* Text Styles */
.tickLabel {
	font-weight: bold;
	font-size: 12px;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
