<div class="modal fade" id="AddBalanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add balance</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @using (Html.BeginForm("AddBalance", "Action"))
                        {
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="balance">Current balance:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="balance" name="balance" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddMonthlyBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add monthly bill</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @using (Html.BeginForm("AddMonthlyBill", "Action"))
                        {
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddMonthlyIncome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add monthly income</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @using (Html.BeginForm("AddMonthlyIncome", "Action"))
                        {
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amount">Amount:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddDailyBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add daily bill</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @using (Html.BeginForm("AddDailyBill", "Action"))
                        {
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="amount">Monthly amount:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>