
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="name">Naam:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3" value="@ViewBag.Name">
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Achternaam:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="basic-addon3" value="@ViewBag.LastName">
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="email" name="email" aria-describedby="basic-addon3" value="@ViewBag.Email">
                </div>
            </div>

            <div class="form-group">
                <label for="password">Wachtwoord:</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="form-group">
                <label for="password">Voer wachtwoord opnieuw in:</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password2" aria-describedby="basic-addon3">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">
                    Register
                </button>
            </div>
        }
    </div>
    <div class="col-md-4"></div>
</div>