@using Library.Classes

@{
    ViewBag.Title = "Balance management";

    Balance balance = ViewBag.Balance as Balance;
}

<h2>@ViewBag.Title</h2>

@if (balance != null)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("ChangeBalance", "Manage"))
            {
                <input type="hidden" class="form-control" name="id" aria-describedby="basic-addon3" value="@balance.Id">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3" value="@balance.Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="balance">Balance amount:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="balance" name="balanceAmount" aria-describedby="basic-addon3" value="@balance.BalanceAmount" required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Change
                    </button>
                </div>

                <div class="form-group">
                    <a class="btn btn-danger" href="~/Manage/DeleteBalance?id=@balance.Id" role="button">Delete</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>There is no balance available</p>
}
