@using Library.Interfaces

@{
    ViewBag.Title = $"{ViewBag.Type} management";

    IPayment payment = ViewBag.Payment as IPayment;
}

<h2>@ViewBag.Title</h2>

@if (payment != null)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm())
            {
                <input type="hidden" class="form-control" name="id" aria-describedby="basic-addon3" value="@payment.Id">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="basic-addon3" value="@payment.Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="balance">Amount:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="balance" name="amount" aria-describedby="basic-addon3" value="@payment.Amount" required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Change
                    </button>
                </div>

                <div class="form-group">
                    <a class="btn btn-danger" href="~/Manage/DeletePayment?id=@payment.Id" role="button">Delete</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>There is no balance available</p>
}
