@using Library.Classes
@{
    ViewBag.Title = "Transaction management";

    Transaction transaction = ViewBag.Transaction as Transaction;
}

<h2>@ViewBag.Title</h2>

@if (transaction != null)
{
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm())
            {
                <input type="hidden" class="form-control" name="id" aria-describedby="basic-addon3" value="@transaction.Id">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="description" name="description" aria-describedby="basic-addon3" value="@transaction.Description">
                    </div>
                </div>

                <div class="form-group">
                    <label for="amount">Balance amount:</label>
                    <div class="input-group">
                        <input type="number" step="any" class="form-control" id="amount" name="amount" aria-describedby="basic-addon3" value="@transaction.Amount" required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Change
                    </button>
                </div>

                <div class="form-group">
                    <a class="btn btn-danger" href="~/Manage/DeleteTransaction?id=@transaction.Id" role="button">Delete</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>There is no transaction available</p>
}
